<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 添加調度的任務bean 配置對應的class-->
	<bean id="Schedule" class="com.umc.ovalis.services.Schedule" />
 
    <!--配置調度具體執行的方法-->
	<bean id="Detail"
			class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
			<property name="targetObject" ref="Schedule" />
			<property name="targetMethod" value="printSomething" />
			<property name="concurrent" value="false" />
		</bean>
	 
		<!--配置調度執行的觸發的時間-->
		<bean id="Trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
			<property name="jobDetail" ref="Detail" />
			<!--
			<property name="cronExpression">
				<value>0 0 8 * * ?</value>
			</property>-->
		<property name="cronExpression" value="0 0/1 * * * ?" />			
		</bean>
	 	 
		<!-- quartz的調度工廠 調度工廠只能有一個，多個調度任務在list中添加 -->
		<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
			<property name="triggers">
				<list>
				     <!-- 所有的調度列表-->
					<ref local="Trigger" />
					
				</list>
			</property>
		</bean>
</beans> 