<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="30 seconds" debug="true">
    <property name="LOG_HOME" value="logs/ovalis"/>
    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/Leveling/%d{yyyy-MM-dd}/Leveling_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>11</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n
            </Pattern>
        </layout>
    </appender>
    <root level="INFO,WARM,DEBUG,ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>