body {
    background: #F7F7F7;
    font-family:Tahoma, Geneva, sans-serif;
    margin: 0;
    padding: 0;
	background:url(../images/BG.jpg) repeat;
}

.topBarcontainer{
  float: left;
  background: #FFFFFF;
  background-image: url(../images/kado.png),url(../images/logo.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 0px, 100px 10px;
  background-size:auto,200px 59px;
  border-bottom: 1px solid #D9DEE4;
  text-align:left;
  width: 100%;
  min-width:450px;
  height:70px;
  position: relative; 
}

#id_wrapper,#id_content,#id_footer
{
    min-width:450px;  
}

#mainContent {
    height: 100%;
    margin: auto;
    width: 100%;	
    top:25%;
    background: #E6E6E6;
}


#headermenu{
    width: auto;
    height: 20%;
    margin-right:200px;
	margin-left:100px;
    margin-top: 60px;
min-width:450px;
}
#headermenu ul ul {
    display: none;
}
#headermenu ul li:hover > ul {
    display: block;
	position: relative;
	top:-19px;
	z-index:3;
}
#headermenu ul{
    padding:0; 
    margin:0; 
    white-space:nowrap;
    list-style: none;
    position: relative;
    display: inline-table;
}
#headermenu ul li {
    width:100px;
    height:45px;
    float:left;
    left:0;
    text-decoration:none;
    text-align:center;
    font-family:century gothic;
    background-color:#FFFFFF;
	z-index:1;
}
#headermenu ul li:hover {
    background: #000000;
}
#headermenu ul li:hover a {
    color: #000000;
	z-index:2;
}
#headermenu ul li a {
    color:#000000;
    display: block;
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}   
#headermenu ul ul {
    border-radius: 0px; 
    padding: 0;
    position: absolute; 
    top: 100%;
}
#headermenu ul ul li {
    float: none; 
    background: #b0c7bd;
    position: relative;
}
#headermenu ul ul li:hover {
    background: #aea7a0;
}
#headermenu ul ul li a {
    color: #ffffff;
}   
#headermenu ul ul li a:hover {
    background: #aea7a0;
}   
#headermenu ul ul ul {
    position: absolute; 
    left: 100%; 
    top:0;
}       
#headermenu:active ul ul *{
        display:block;
}
	
#headerindex{
    width: auto;
    height: 20px;
	float: right;
}
#headerindex ul{
    padding:0; 
    margin:0; 
    white-space:nowrap;
    list-style: none;
    position: relative;
    display: inline-table;
}
#headerindex ul li {
    width:50px;
    height:45px;
    float:left;
    left:0;
    text-decoration:none;
    text-align:center;
    font-family:century gothic;
    background-color:#FFFFFF;
	z-index:1;
}
#headerindex ul li:hover {
    background: #aea7a0;
}
#headerindex ul li a {
    color:#000000;
    display: block;
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}   
	
html{height:100%;}
body{min-height:100%;margin:0;padding:0;position:relative;}
header{background: #FFFFFF;}
main{padding-bottom:40px;}
footer{position:absolute;bottom:0;width:100%;height:40px;background-color: #4d5363;color:#FFFFFF;text-align:center;}

/*********/
html, body {
    /* 設定body高度為100% 拉到視窗可視的大小 */
    height: 100%;
}

#id_wrapper {
    /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
    min-height: 100%;
    /* 位置設為relative, 作為footer區塊位置的參考 */
    position: relative;
}

#id_header {
    /* 設定header的高度 */
    height: 40px;
    box-sizing: border-box;
}

#id_content {
    /* 留出header及footer區塊的空間 */
    padding-top: 40px;
    padding-bottom: 40px;
}

#id_footer {
    /* 設定footer的高度 */
    height: 40px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}
.panel{margin:0px;padding:0px;text-align:center;}
/**********/

h2 {
  font-size: 16px;
  font-weight: 400; 
  margin-left:20px;
  margin-top:60px;
  }
  
.txtfont{display:inline-block;font-weight:bold;color:#def;text-shadow:0 0 1px currentColor,-1px -1px 1px #000,0 -1px 1px #000,1px -1px 1px #000,1px 0 1px #000,1px 1px 1px #000,0 1px 1px #000,-1px 1px 1px #000,-1px 0 1px #000;-webkit-filter:url(#txtfont);filter:url(#txtfont);/*background:#def;padding:0 .2em*/}

.searchlabel { 
font-size: 14px;
color: #000000;
margin-left: 20px;
width:100px
}

.grouplabel { 
font-size: 14px;
color: #000000;
margin-left: 20px;
width:200px
}

.searchinput { 
font-size: 14px;
font-family: Arial, sans-serif;
border-style: solid;
border-color: #dedede;
height:18px
}

#buttons { display: block; padding-top: 10px; }

#buttons #submitbtn {
border:1px solid #4a4a4a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #666666 ; background-image: -webkit-gradient(linear, left top, left bottom, from(#666666 ), to(#AAAAAA));
 background-image: -webkit-linear-gradient(top, #666666 , #AAAAAA);
 background-image: -moz-linear-gradient(top, #666666 , #AAAAAA);
 background-image: -ms-linear-gradient(top, #666666 , #AAAAAA);
 background-image: -o-linear-gradient(top, #666666 , #AAAAAA);
 background-image: linear-gradient(to bottom, #666666 , #AAAAAA);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#666666 , endColorstr=#AAAAAA);
 margin-left: 20px;
}
#buttons #submitbtn:hover, #buttons #submitbtn:active {
 border:1px solid #333333;
 background-color: #4d4d4d; background-image: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), to(#919191));
 background-image: -webkit-linear-gradient(top, #4d4d4d, #919191);
 background-image: -moz-linear-gradient(top, #4d4d4d, #919191);
 background-image: -ms-linear-gradient(top, #4d4d4d, #919191);
 background-image: -o-linear-gradient(top, #4d4d4d, #919191);
 background-image: linear-gradient(to bottom, #4d4d4d, #919191);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4d4d4d, endColorstr=#919191);
}
#buttons #submitbtn:active {
 border:1px solid #333333;
 background-color: #4d4d4d; background-image: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), to(#919191));
 background-image: -webkit-linear-gradient(top, #4d4d4d, #919191);
 background-image: -moz-linear-gradient(top, #4d4d4d, #919191);
 background-image: -ms-linear-gradient(top, #4d4d4d, #919191);
 background-image: -o-linear-gradient(top, #4d4d4d, #919191);
 background-image: linear-gradient(to bottom, #4d4d4d, #919191);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4d4d4d, endColorstr=#919191);
}

.maintable {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 14px;
	line-height: 24px;
	width: 800px;
	margin-left:20px;
}

th {
	background:#444444  repeat-x 0 -110px;
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 3px 0px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
	font-size:14px;
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {	
	font-size:12px;  
	text-align: center;
}
span {
	margin-left:20px;	
}

#mainform {  
overflow:auto;
}
#mainform #aligned { 
box-sizing: border-box; 
float: left; 
width: 250px; 
margin-right: 5px; 
}
#mainform #aside {
	float: left;
	width: 250px;
	padding: 0;
	box-sizing: border-box;
}

label { 
font-size: 14px;
color: #000000;
margin-left: 20px;
width:240px;
}

/********** table rwd2*****/
.rwd-table {
    background: #fff;
    overflow: hidden;
    margin-top:15px;
    margin-left:20px;
    width:70%;
 }

.rwd-table tr:nth-of-type(2n){
    background: #eee;
    border-top:1px #FFD382 solid;border-bottom:1px #FFD382 solid;
 }
 .rwd-table th, 
 .rwd-table td {
    margin: 0.5em 1em;
 }
 .rwd-table {
    min-width: 430px;
 }

.rwd-table th {
    display: none;
 }

.rwd-table td {
    display: block;
 }

.rwd-table td:before 
{
    background-color: #444444; 
    content: attr(data-th) ":";
    font-weight: bold;
    width: 10em;
    display: inline-block;
 }

.rwd-table th, .rwd-table td {
    text-align: left;
 }

.rwd-table th, .rwd-table td:before {
    color: #FFFFFF; 
    font-weight: bold;
 }

@media (min-width: 480px) {
 .rwd-table td:before {
    display: none;
 }
 .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
 }
 .rwd-table th:first-child, 
 .rwd-table td:first-child {
    padding-left: 0;
 }
 .rwd-table th:last-child, 
 .rwd-table td:last-child {
    padding-right: 0;
 }
 .rwd-table th, 
 .rwd-table td {
    padding: 0.3em !important;
 }
 }
/********** table rwd2*****/

#buttons #submitbtn2 {
border:1px solid #4a4a4a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #666666 ; background-image: -webkit-gradient(linear, left top, left bottom, from(#666666 ), to(#AAAAAA));
 background-image: -webkit-linear-gradient(top, #666666 , #AAAAAA);
 background-image: -moz-linear-gradient(top, #666666 , #AAAAAA);
 background-image: -ms-linear-gradient(top, #666666 , #AAAAAA);
 background-image: -o-linear-gradient(top, #666666 , #AAAAAA);
 background-image: linear-gradient(to bottom, #666666 , #AAAAAA);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#666666 , endColorstr=#AAAAAA);
 margin-left: 5px;
 margin-bottom:10px
}

.searchlabel2 { 
font-size: 16px;
color: #000000;
margin-left: 5px;
width:100px
}
.searchinput2 { 
font-size: 14px;
font-family: Arial, sans-serif;
border-style: solid;
border-color: #dedede;
height:32px;
margin-left: 5px;
margin-bottom: 10px;
}

.pager
{
    margin: 1px 3px;
    padding: 0px;
}
.checkAll {
	background:#444444  repeat-x 0 -110px;
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
    font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
	font-size:18px;
}

.groupDiv
{
    background-color:White;
    margin-left:20px;
    margin-right:20px;
}

#mainform .txtinput { 
display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #000000;
margin-bottom: 10px;
font-size: 18px;
padding: 11px 5px;

width: 90%;
color: #777;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
margin-left: 20px
}

#mainform .txtinput:focus { 
color: #333;
border-color: rgba(41, 92, 161, 0.4);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
outline: 0 none; 

}

.txtselect { 
font-family: Arial, sans-serif;
border-width: 1px;
border-color: #000000;
font-size: 18px;
color: #777;
width:226px;
height:45px;
margin-bottom: 10px;
margin-left: 20px;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.searchlabel { 
font-size: 18px;
color: #000000;
margin-left: 20px
}

.searchinput { 
font-size: 18px;
font-family: Arial, sans-serif;
border-style: solid;
border-color: #dedede;
height:45px;
margin-bottom: 10px;
}

h2 { 
border-bottom: 1px solid #000000; 
color: #363636;
font-family: Georgia, serif; 
font-size: 16px; 
padding: 6px 0; 
text-align: left; 
}

div.backgroundimage {
   width:100%; /*width of your image*/
   height:100%; /*height of your image*/
   background-image:url('../images/background.jpg');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

#buttons #submitbtn,#buttons #btnAddField {
border:1px solid #4a4a4a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:16px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #666666; margin-left: 20px;
 background-image: linear-gradient(to bottom, #666666 , #AAAAAA);
}
#buttons #submitbtn:hover, #buttons #submitbtn:active,#buttons #btnAddField:hover, #buttons #btnAddField:active {
 border:1px solid #333333;
 background-color: #4d4d4d; background-image: linear-gradient(to bottom, #4d4d4d, #919191);
 }
